@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    font-family: "nunito", sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    --header-main: rgb(255, 252, 207);
    --header-main-dark: rgb(243, 241, 201);
    --main-text: rgb(51, 32, 17);
    --main-text-highlight: rgb(231, 145, 69);
    --secondary-dark: rgb(34, 27, 22);
    --secondary-light: rgb(209, 207, 193);
}

body {
    margin: 0;
    padding-bottom: 5rem;
    min-height: calc(100dvh - 5rem);
    background: linear-gradient(135deg,
            var(--header-main) 25%,
            var(--header-main-dark) 25%,
            var(--header-main-dark) 50%,
            var(--header-main) 50%,
            var(--header-main) 75%,
            var(--header-main-dark) 75%,
            var(--header-main-dark));
    background-size: 40px 40px;

    /* Animation */
    animation: move 2s linear infinite;
    text-align: center;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 40px 40px;
    }
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 2rem 2rem;
    color: var(--main-text);
    margin-bottom: 5rem;
    gap: 1rem;
}

header h2 {
    color: var(--main-text-highlight);
}

.navigation-card {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.tab {
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    background-color: var(--header-main);
    color: var(--main-text);
    border-radius: 50%;
    border: 2px solid var(--header-main-dark);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
    margin: 0 1rem;
}

.tab:hover {
    background-color: var(--main-text-highlight);
    border: 2px solid transparent;
}

.mainBtn {
    font-size: 1.2rem;
    border: 1px solid transparent;
    background-color: var(--header-main);
    border-radius: 2rem;
    padding: .5rem 2rem;
    text-decoration: none;
    color: var(--main-text);
    transition: all 0.3s;
    white-space: nowrap;
    text-align: center;
}

a.mainBtn {
    align-self: center;
    background-color: var(--header-main);
}

input.mainBtn {
    margin-top: 2rem;
    background-color: var(--header-main-dark);
}

input.inscrireBtn {
    margin-top: 0;
}

.mainBtn:hover {
    border: 1px solid var(--main-text);
    background-color: var(--main-text-highlight);
}

/*Style pour l'affichage d'username*/

h3 {
    margin: 0;
    color: var(--main-text);
}

h3 span {
    color: var(--main-text-highlight);
}


.msg {
    color: var(--main-text);
    margin-bottom: 2rem;
}

/*Style pour l'accueil*/


.accueil {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 80%;
    margin: auto;
    min-height: 80%;
    padding-top: 3rem;
    text-align: center;
}

.accueil h1 {
    font-size: 4rem;
    color: var(--main-text);
}

h1 span {
    font-size: 5rem;
    color: var(--main-text-highlight);
}

p {
    font-size: 2rem;
    color: var(--secondary-text);
}


/* style pour barre de recherche */

.accueil form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 50%;
    margin-top: 5rem;
}

.search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #fff;
    border: none;
    color: var(--secondary-dark);
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 100%;
    transition: all ease-in-out .5s;
    margin-right: -10rem;
    height: 3.5rem;
}

.search__input:hover,
.search__input:focus {
    box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
    outline: none;
}

.search__input:focus+.search__button {
    background-color: transparent
}

.search__button {
    border: none;
    background-color: transparent;
    margin-top: .2em;
    padding-right: 1rem;
    color: var(--secondary-dark);
    opacity: .6;
}

.search__button:hover {
    cursor: pointer;
}

.search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: var(--secondary-dark);
}


/*Show Password Icon Style */

/*------ Settings ------*/
.container {
    --size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--main-text);
  }
  
  .container .eye {
    position: absolute;
    animation: keyframes-fill .5s;
  }
  
  .container .eye-slash {
    position: absolute;
    animation: keyframes-fill .5s;
    display: none;
  }
  
  /* ------ On check event ------ */
  .container input:checked ~ .eye {
    display: none;
  }
  
  .container input:checked ~ .eye-slash {
    display: block;
  }
  
  /* ------ Hide the default checkbox ------ */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* ------ Animation ------ */
  @keyframes keyframes-fill {
    0% {
      transform: scale(0);
      opacity: 0;
    }
  
    50% {
      transform: scale(1.2);
    }
  }